{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Models</title>
    <link rel="stylesheet" href="{% static 'css/index_detail.css' %}">
</head>
<body>
{% load static %}
{% block page_content %}
<h1>{{ index.name }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static index.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the Model:</h5>
        <p>{{ index.description }}</p>
        <br>
        <h5>Category:</h5>
        <p>{{ index.category }}</p>
    </div>
</div>
{% endblock %}
</body>
</html>