{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Become a model</title>
    <link rel="stylesheet" href="{% static 'css/become.css' %}">
</head>
<body>
<div>
<p>
    please insert your height(cm) and weight(kg) <br> we'll say , can you be a model :
</p></div>

{% for questions in questions %}
<div><h2>{{ questions.question_text }}&nbsp;<input type="number" ></h2>
</div>{% endfor %}
<br><input type="submit" value="Calculating...">
</body>
</html>