{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgotten Password</title>
     <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
            {% block title %}Forget your password?{% endblock %}{% block content %}
            <h1>Recovering your Secret...</h1>
            <p>May i have your email address : </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send">
            </form>{% endblock %}
</body>
</html>