body {
    background-color: burlywood;
    font-size: 25px;
}
.button{

}



p {
    color: darkslategrey;
}
	

.navbar{

}

.navbar-nav{
}

.nav-item{
	background: white;	
}

.nav-link{
	background-color: : white;
}











